/* Privacy Notice Section */
.privacy-section {
    background-color: #ECEFF4;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
}

.privacy-section h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.privacy-section .subtitle {
    font-size: 1.25rem;
    color: #666666;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-content {
    text-align: left;
    color: #666666; /* Same color as the subtitle */
}

.privacy-content h3 {
    font-size: 1.75rem;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.privacy-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}

/* Specific styling for the prominent section */
.privacy-heading,
.privacy-description {
    text-align: center;
    font-size: 1.5rem; /* Larger font size for emphasis */
    color: #000; /* Black color for prominence */
    font-weight: bold; /* Bold text for prominence */
    margin-bottom: 20px;
}

.privacy-description {
    font-size: 1.25rem; /* Slightly smaller than the heading */
    margin-bottom: 40px; /* Additional spacing */
}
