/* Font */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Buttons */
.btn-custom-green,
.btn {
    background-color: #D0F0C0;
    border-color: #D0F0C0;
    color: #fff;
    margin-top: 20px;
}

.btn-custom-green:hover,
.btn:hover {
    background-color: #a0d08c;
    border-color: #a0d08c;
}

/* Applied to text in photos */
.text-overlay {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow color and size as needed */
}

/* Navigation Bar */
.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-brand {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #fff; /* Hover color consistent with other nav items */
}

.custom-green-bg {
    background-color: #D0F0C0;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 10px; /* Fixed missing unit */
}

.navbar-nav {
    padding-right: 20px;
}

/* Add hovering effect to navbar items */
.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff; /* Hover color */
}

/* Hero Section */
.home-hero {
    position: relative;
    background-image: url('/static/images/home_main.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 100px 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/* Style for the text within the home hero section */
.hero-content {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

/* Core Skills section */
.core-skills {
    background-color: #ECEFF4;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
}

.core-skills h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.core-skills .subtitle {
    font-size: 1.25rem;
    color: #666666;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background-color: #D0F0C0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.skill:hover {
    background-color: #a0d08c;
}

/* Blog section */
.blog-section {
    position: relative;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 70px 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 60vh;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .blog-section {
        background-size: auto 120%;
        background-position: center center;
        padding: 50px 0;
    }
}

/* Style for the text within the blog section */
.blog-section .container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

.blog-section h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.blog-section p {
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

/* Contact section */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ECEFF4;
}

.contact-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-section label.form-label {
    color: black;
}

.contact-section .form-control {
    background-color: #D0F0C0; /* Default background color */
    color: black;
    border-color: #D0F0C0;
}

.contact-section .form-control:focus,
.contact-section .form-control:active {
    background-color: #D0F0C0; /* Maintain background color on focus */
    color: black;
    border-color: #D0F0C0;
}

.contact-section .form-control:-webkit-autofill,
.contact-section .form-control:-webkit-autofill:hover,
.contact-section .form-control:-webkit-autofill:focus,
.contact-section .form-control:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; /* Override autofill background color */
    -webkit-text-fill-color: black; /* Set text color for autofilled inputs */
}

.contact-section .form-control:-webkit-autofill:focus {
    background-color: #D0F0C0 !important; /* Maintain background color on focus */
}

.contact-section .btn {
    background-color: #D0F0C0;
    border-color: #D0F0C0;
    color: #fff;
}

.contact-section .btn:hover {
    background-color: #a0d08c;
    border-color: #a0d08c;
}

/* Footer */
footer {
    background-color: #666666;
    color: white;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    line-height: 1.5;
}

footer .container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Flash messages */
.flash-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.flash-container .flash-message {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    animation: flashFadeIn 4s forwards, flashFadeOut 2s forwards 6s; /* Start fading out after 6s */
}

@keyframes flashFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flashFadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.flash-container .alert-success {
    background-color: #D0F0C0;
    color: #fff; /* Set text color to white */
}

.flash-container .alert-danger {
    background-color: #f8d7da;
    color: #fff;
}








