/* Define a custom class for Open Sans font */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Default weight for Open Sans */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the profile picture circular */
    margin-right: 10px; /* Increase the spacing between the picture and the text */
    margin-left: 10px; /* Add margin to the left to push the image away from the left edge */
}

.custom-green-bg {
    background-color: #D0F0C0; /* Light green */
}

.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the margin between navbar items */
}

.navbar-nav .nav-item:last-child {
    margin-right: 10; /* Remove margin for the last navbar item */
}

.navbar-nav {
    padding-right: 20px; /* Adjust the padding on the right side of navbar items */
}

/* Style for the home hero section */
.home-hero {
    position: relative; /* Add relative positioning */
    background-image: url('/static/images/home_main.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center center; /* Center the background image horizontally and vertically */
    color: #fff;
    padding: 100px 0; /* Adjust padding as needed */
    height: 100vh; /* Make the section take up the full height of the viewport */
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
}

/* Style for the text within the home hero section */
.hero-content {
    position: relative; /* Add relative positioning */
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto;
    text-align: center;
    opacity: 0; /* Start with opacity 0 */
    animation: fadeIn 4s forwards; /* Increase duration to 4 seconds */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start opacity */
        transform: translateY(20px); /* Optional: Start from slightly below */
    }
    to {
        opacity: 1; /* End opacity */
        transform: translateY(0); /* Optional: Return to original position */
    }
}

/* Adjust the font size and line height for the hero-content */
.hero-content h1 {
    font-size: 2.5rem; /* Reduce the font size */
    line-height: 1.2; /* Adjust the line height to bring the text closer */
}

.hero-content p {
    font-size: 1.25rem; /* Reduce the font size */
    line-height: 1.4; /* Adjust the line height */
    max-width: 1000px; /* Increase the maximum width of the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally */
    overflow: hidden; /* Hide any overflow text */
    text-align: center; /* Center-align the text */
}

/* Define a custom button color */
.btn-custom-green,
.btn {
    background-color: #D0F0C0; /* Light green */
    border-color: #D0F0C0; /* Light green */
    color: #fff; /* White text */
    margin-top: 20px; /* Add margin to push the button down */
}

.btn-custom-green:hover,
.btn:hover {
    background-color: #a0d08c; /* Darker green on hover */
    border-color: #a0d08c; /* Darker green on hover */
}

/* Add hovering effect to navbar items */
.navbar-nav .nav-link {
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

.navbar-nav .nav-link:hover {
    color: #fff; /* Change text color to white on hover */
}

/* Style for the blog section */
.blog-section {
    position: relative;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 100px 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh; /* Make the section take up the full height of the viewport */
}

/* Style for the text within the blog section */
.blog-section .container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

/* Adjust the font size and line height for the blog content */
.blog-section h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.blog-section p {
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.contact-container {
    max-width: 600px; /* Set maximum width for the contact container */
    margin: 0 auto; /* Center the contact container horizontally */
}

.contact-section {
    padding-top: 50px; /* Add padding to the top of the contact section */
    padding-bottom: 50px; /* Add padding to create space between the form and the footer */
    background-color: #ECEFF4; /* Set light gray-blue background color for the contact section */
}

.contact-section .container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.contact-section label.form-label {
    color: black; /* Set label text color to black */
}

.contact-section .form-control {
    background-color: #D0F0C0; /* Set input field background color */
    color: black; /* Set input field text color */
    border-color: #D0F0C0; /* Set input field border color */
}

.contact-section .form-control:focus {
    background-color: #D0F0C0; /* Keep input field background color same on focus */
    color: black; /* Set input field text color on focus */
    border-color: #D0F0C0; /* Set input field border color on focus */
}

.contact-section .btn {
    background-color: #D0F0C0; /* Set button background color */
    border-color: #D0F0C0; /* Set button border color */
    color: #fff; /* Set button text color */
}

.contact-section .btn:hover {
    background-color: #a0d08c; /* Set button background color on hover */
    border-color: #a0d08c; /* Set button border color on hover */
}

footer {
    background-color: #666666; /* Set a lighter gray background color for the footer */
    color: white; /* Set text color to white for better contrast */
    padding: 20px 0; /* Add padding to the top and bottom of the footer */
}

footer p {
    font-size: 14px; /* Adjust the font size */
    line-height: 1.5; /* Adjust the line height */
}

footer .container {
    margin-top: 10px; /* Add margin to the top of the container */
    margin-bottom: 10px; /* Add margin to the bottom of the container */
}
