<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Damian Piatkowski | Back-End Developer | {% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="open-sans"> <!-- Apply the open-sans class to the body -->
    <nav class="navbar navbar-expand-lg navbar-light custom-green-bg">
        <a class="navbar-brand" href="#about">
            <img src="{{ url_for('static', filename='images/navbar_profile.jpg') }}" alt="Profile Picture">
            Damian Piatkowski
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" id="home_link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-me" id="about_link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="projects_link">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="resume_link">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="blog_link">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
<footer class="custom-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="social-icons">
                    <a href="https://github.com/damian-j-piatkowski" class="me-4 text-reset">
                        <i class="bi bi-github fs-3"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/damian-piatkowski/" class="me-4 text-reset">
                        <i class="bi bi-linkedin fs-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="privacy-text">&copy; 2024 Damian Piatkowski. All rights reserved.</p>
                <p class="privacy-text"><a href="{{ url_for('home_bp.privacy') }}" class="privacy-link" id="privacy_notice_link">Privacy Notice</a></p>
            </div>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
