{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<section class="home-hero open-sans"> <!-- Apply the open-sans class to the section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="hero-content">
                    <h1 class="open-sans">Hi, I'm Damian</h1> <!-- Apply the open-sans class to the h1 element -->
                    <p class="open-sans">I specialize in crafting robust backends that power seamless user experiences. From scalable architectures to efficient databases, I build the foundation your application can rely on.</p> <!-- Apply the open-sans class to the p element -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

