{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
{% endblock %}

{% block content %}
<section class="resume-section">
    <div class="resume-container">
        <div class="resume-header">
            <h3>Damian Piatkowski</h3>
            <p>Mobile: +48 796 216 095 | Email: piatkowski.damian@outlook.com</p>
            <p>Address: Wodna 23/72, 90-024 Lodz</p>
            <p>For more info on my private projects please visit: <a href="https://github.com/DamianPiatkowski" target="_blank">GitHub</a></p>
        </div>

        <div class="resume-section-content">
            <h3>PROFILE</h3>
            <ul>
                <li>Accredited RPA developer delivering robust and effective automation solutions for banking processes based on valuable Python programming knowledge.</li>
                <li>Possessing high level interpersonal skills, experienced in working in international environments, recommended as a professional and reliable person.</li>
            </ul>
        </div>

        <div class="resume-section-content">
            <h3>EXPERIENCE</h3>
            <h4>RPA Developer - Nordea, Poland (Oct 2018 – Now)</h4>
            <ul>
                <li>Collaborated closely with RPA Analyst and business stakeholders to analyze and understand requirements.</li>
                <li>Proposed and planned development work according to needs.</li>
                <li>Developed efficient, well-structured, and scalable automation solutions within BluePrism.</li>
                <li>Displayed end-to-end ownership for solutions and focused on business added-value.</li>
                <li>Tested solutions in cooperation with process expert to secure a stable launch in production.</li>
                <li>Created technical documentation for automated processes to instruct business operation and ensure controllability of robots' functionalities.</li>
                <li>Took part in interviews alongside a team leader as a technical expert.</li>
                <li>Reviewed business cases with SMEs to identify potential improvements from RPA perspective.</li>
                <li>Maintained existing robots and implemented changes to meet business' changing demands.</li>
                <li>Participated in projects producing 50-100 FTE's back to business.</li>
            </ul>

            <h4>Process Officer - Nordea, Poland (Apr 2017 – Sep 2018)</h4>
            <ul>
                <li>Controlled, updated, and authorized data into banking systems and applications.</li>
                <li>Coordinated processes knowledge handover from Swedish counterparts through training in Stockholm and re-shared acquired process to the team after coming back to Poland.</li>
                <li>Proposed and implemented changes to increase the efficiency of supported processes.</li>
                <li>Provided English language training to co-workers.</li>
            </ul>

            <h4>English Teacher - DreamSky, Vietnam (Sep 2013 – Jan 2017)</h4>
            <ul>
                <li>Delivered English classes in both public and private schools in Hanoi, Vietnam.</li>
                <li>Managed classrooms of 10 up to 50 students.</li>
                <li>Continuously improved teaching methods based on feedback.</li>
                <li>Prepared miscellaneous materials in the shape of exercises, tests, interactive presentations.</li>
                <li>Conducted placement tests evaluating students’ language level.</li>
                <li>Stayed culturally sensitive in the workplace.</li>
            </ul>
        </div>

        <div class="resume-section-content">
            <h3>EDUCATION</h3>
            <ul>
                <li>IELTS - Overall band score 8.5/9 | Aug 2015</li>
                <li>Cambridge Language Assessment</li>
                <li>Introduction to Computer Science and Programming using Python | Apr 2018 - MIT, edX</li>
                <li>BP Certified Developer | Apr 2019</li>
                <li>BP Certified Professional Developer | Oct 2020</li>
                <li>Master's Degree in Sociology | Oct 2011 – Jun 2013 - University of Lodz, Poland</li>
                <li>Bachelor's Degree in Sociology | Oct 2008 - Jun 2011 - University of Lodz, Poland</li>
            </ul>
        </div>

        <div class="resume-section-content">
            <h3>LANGUAGES</h3>
            <ul>
                <li>Polish – native speaker</li>
                <li>English - fluent</li>
                <li>Vietnamese – intermediate</li>
            </ul>
        </div>

        <div class="resume-section-content">
            <h3>SKILLS</h3>
            <ul>
                <li>Advanced user - Blue Prism, HTML, CSS</li>
                <li>Efficient user - SQL, Python, JavaScript, Linux</li>
                <li>Analytical thinking | Creating project documentation</li>
                <li>Stakeholders relationship management</li>
            </ul>
        </div>

        <div class="resume-section-content">
            <h3>VALUES</h3>
            <ul>
                <li>Detail-oriented | Observant</li>
                <li>Customer-oriented | Team player</li>
                <li>Responsible | Reliable</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
