{% extends "base.html" %}
{% from "macros/css_loader.html" import css_link_bundle %}

{% block title %}About Me{% endblock %}

{% block links %}
    {{ css_link_bundle("about-me", ENV=ENV) }}
{% endblock %}

{% block content %}
<section id="about" class="about-section">
    <div class="container-fluid p-0 h-100">
        <div class="row no-gutters h-100">
            <div class="col-12 col-lg-6 p-0"> {# Column for the image #}
                <picture class="w-100 h-100">
                    <source media="(min-width: 1200px)" srcset="{{ url_for('static', filename='images/about_me/about_me_16x9_2560w.jpg') }}">
                    <source media="(min-width: 992px) and (orientation: landscape)" srcset="{{ url_for('static', filename='images/about_me/about_me_16x9_1920w.jpg') }}">

                    <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="{{ url_for('static', filename='images/about_me/about_me_4x5_1200w.jpg') }}">
                    <source media="(min-width: 768px) and (max-width: 1023px)" srcset="{{ url_for('static', filename='images/about_me/about_me_4x5_960w.jpg') }}">

                    <source media="(min-width: 320px) and (max-width: 767px)" srcset="{{ url_for('static', filename='images/about_me/about_me_4x5_640w.jpg') }}">
                    <source media="(max-width: 319px)" srcset="{{ url_for('static', filename='images/about_me/about_me_4x5_320w.jpg') }}">

                    <img src="{{ url_for('static', filename='images/about_me/about_me_4x5_320w.jpg') }}" class="img-fluid w-100 h-100" alt="About Me">
                </picture>
            </div>
            <div class="col-12 col-lg-6 p-0 position-relative"> {# Column for the content overlay #}
                <div class="about-content-overlay">
                    <div class="about-content">
                        <p>Hello! I'm a passionate back-end developer with a love for crafting efficient and scalable server-side applications. Based and born in Łódź, Poland, I also lived for four unforgettable years in Hanoi, Vietnam.</p>
                        <p>When I'm not coding, you can find me immersed in the world of gaming, with "Breath of the Wild" and "Hades" being my all-time favorite adventures. I also enjoy getting lost in both fiction and non-fiction books, with favorites including "The Final Empire" trilogy and non-fiction gems like "King Leopold's Ghost" and "The Sixth Extinction".</p>
                        <p> As a big football enthusiast and minimalist at heart, I find joy in simplicity and the thrill of a good match. Feel free to get in touch to discuss projects or just share your favorite game!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}