{% extends "base.html" %}

{% block title %}Privacy Notice{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy.css') }}">
{% endblock %}

{% block content %}
<section class="privacy-section">
    <div class="container">
        <div class="privacy-content">
            <h3 class="privacy-heading">Privacy Notice</h3>
            <p class="privacy-description">We value your privacy and are committed to protecting your personal data. This privacy notice will inform you about how we handle your personal data when you visit our website.</p>
        </div>
        <div class="privacy-content">
            <h3>Information I Collect</h3>
            <p>I use Google Analytics to collect information about your use of my website. Google Analytics collects data such as your IP address, browser type, referring/exit pages, and operating system. This information is used to analyze trends, administer the site, and track user movements around the site.</p>

            <h3>Contact Form Submissions</h3>
            <p>I do not log or store any personal data such as email addresses, names, or message contents from the Contact section submissions. This data is solely used for responding to your inquiries and is not retained.</p>

            <h3>Your Rights</h3>
            <p>If you have any concerns about the data collected through Google Analytics or wish to exercise any rights related to this data, please contact me at the email address provided in the Contact section.</p>

            <h3>Changes to This Privacy Notice</h3>
            <p>I may update this privacy notice in the future. Any changes will be posted on this page, and I will notify you of significant changes through a prominent notice on my website.</p>
        </div>
    </div>
</section>
{% endblock %}
